.catalog {
  padding: 100px 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $accent-to-bottom;
    clip-path: polygon(100% 100%, 53% 100%, 100% 91%);
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $color-transparent-dark;
    clip-path: polygon(100% 100%, 95% 100%, 100% 45%);
    z-index: 1;

    @include vp-767 {
      clip-path: polygon(100% 100%,80% 100%,100% 45%);
    }

    @include vp-374 {
      display: none;
    }
  }

  @include vp-767 {
    padding: 10vw 0;
  }
}

.catalog__title {
  margin-bottom: 40px;
  width: 70%;
  font-family: $ff-main;
  font-weight: 700;
  font-size: 44px;
  line-height: 1em;
  text-transform: uppercase;

  @include vp-1439 {
    margin-bottom: 2vw;
    font-size: 2rem;
    width: 80%;
  }

  @include vp-767 {
    width: 100%;
    //font-size: 3.6rem;
    margin-bottom: 4vh;
  }

  @include vp-374 {
    font-size: 20px;
  }
}

.catalog__text {
  font-size: 28px;
  margin-bottom: 40px;

  @include vp-1439 {
    font-size: 1.4rem;
  }

  @include vp-767 {
    //font-size: 3.6rem;
    margin-bottom: 4vh;
  }

  @include vp-374 {
    font-size: 18px;
  }
}

.catalog__list {
  column-count: 3;

  @include vp-1279 {
    column-count: 2;
  }

  @include vp-767 {
    column-count: 1;
  }
}
