.services {
  padding: 0;
  padding-top: 8vh;
  min-height: 100vh;
}

.services__title {
  margin: 0;
  margin-bottom: 5vh;
  font-family: $ff-main;
  font-weight: 700;
  font-size: 48px;
  color: $color-basic-black;
  line-height: 1em;
  text-transform: uppercase;

  @include vp-1279 {
    font-size: 3.5vw;
  }

  @include vp-767 {
    font-size: 6vw;
  }

  @include vp-374 {
    font-size: 20px;
  }
}

.services__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding-bottom: 8vh;

  @include vp-1539 {
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
  }

  @include vp-1023 {
    grid-template-columns: repeat(3, 1fr);
  }

  @include vp-767 {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-567 {
    grid-template-columns: 1fr;
  }

}

.services__item {
  min-height: 30vh;
  padding: 15px;
  background-color: $color-transparent-gray;
  color: $color-basic-gray;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content auto;
  gap: 10px;

  p {
    margin: 0;
    padding: 15px 0 20px 0;
    font-size: 26px;

    @include vp-1439 {
      font-size: 1.8vw;
    }

    @include vp-1023 {
      font-size: 2.2vw;
    }

    @include vp-767 {
      font-size: 2.8vw;
    }

    @include vp-567 {
      font-size: 4vw;
    }

    @include vp-374 {
      font-size: 18px;
    }
  }

  & small {
    margin-top: 10px;
    display: block;
    line-height: 1.1rem;
    font-size: 70%;
  }

  &:nth-child(1),
  &:nth-child(3),
  &:nth-child(5) {
    grid-column: span 2;
  }

  @include vp-1539 {

    &:nth-child(3),
    &:nth-child(5) {
      grid-column: auto;
    }
  }

  @include vp-1023 {
    &:last-child {
      grid-column: span 2;
    }
  }

  @include vp-767 {
    &:last-child {
      grid-column: auto;
    }
  }

  @include vp-567 {
    min-height: 40vh;
    &:nth-child(1) {
      grid-column: auto;
    }
  }
}

.services__picture-wrapper {
  position: relative;
}

.services__picture {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
