.trunking {
  position: relative;
  min-height: 100vh;
  padding-top: 30vh;
  overflow: hidden;

  background-color: $color-transparent-dark;
  background-image: url("../img/trunking.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25%;

  @include vp-767 {
    background-size: auto;
    background-position-y: 39%;
    padding-top: 50vh;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $color-transparent-light;

    @include vp-767 {
      background-color: $color-transparent-dark;
    }
  }
}

.trunking__content {
  position: relative;
  width: 50%;
  margin-left: auto;

  @include vp-767 {
    width: 80%;
  }

  @include vp-567 {
    width: 100%;
  }
}

.trunking__title {
  margin: 0;
  margin-bottom: 70px;
  font-family: $ff-main;
  color: $color-accent;
  font-weight: 700;
  font-size: 48px;
  line-height: 1em;
  text-transform: uppercase;

  @include vp-1439 {
    margin-bottom: 2.6vw;
    font-size: 1.8rem;
  }

  @include vp-767 {
    font-size: 8vw;
    margin-bottom: 4vh;
    color: $color-basic-white;
  }
}

.trunking__text {
  font-size: 30px;
  line-height: 1.4;

  @include vp-1439 {
    font-size: 1.2rem;
  }

  @include vp-767 {
    color: $color-basic-white;
    font-size: 1.4rem;
  }

  b {
    color: $color-accent;
  }
}
