.list-custom-marker {
  margin-left: 20px;
  font-size: 26px;
  color: $color-basic-gray;
  column-gap: 25px;
  list-style: none;

  @include vp-1439 {
    font-size: 1.2rem;
  }

  @include vp-767 {
    margin-left: 0;
  }

  li {
    position: relative;
    margin-left: 20px;
    line-height: 1.4;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -20px;
      translate: 0 -50%;
      width: 10px;
      height: 10px;
      background-color: $color-accent;
    }

    @include vp-767 {
      font-size: 1.3rem;
      line-height: 1.2;
      margin-bottom: 8px;
    }
  }
}
