// Colors
// ---------------------------------

// Default

$color-basic-white:                 #ffffff;
$color-basic-black:                 #000000;
$color-basic-gray:                  #575756;

$color-logo-basic:                  #575656;
$color-logo-accent:                 #b39e47;

$color-accent:                      #b49d46;
$color-accent-dark:                 #3d3618;
$color-accent-gray:                 #3d3d3c;
$color-light-gray:                  #fffdf6;
$color-background:                  #dbdbdb;

$color-transparent-gray:            transparentize($color-background, 0.7);
$color-transparent-light:           transparentize($color-basic-white, 0.5);
$color-transparent-dark-gray:       transparentize($color-logo-basic, 0.5);
$color-transparent-dark:            transparentize($color-basic-black, 0.3);
$color-transparent-accent:          transparentize(rgba(172, 138, 0, 0.7), 0.5);
$color-transparent:                 rgba(2, 1, 1, 0);

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.898) 0%, rgba(0, 0, 0, 0.24) 85%);
$gray-to-bottom:                    linear-gradient(to bottom, hsla(200, 100%, 98%, 0.92) 85%, rgba(247, 252, 255, 0.726) 100%);
$accent-to-bottom:                  linear-gradient(to bottom, rgba(236, 200, 52, 0.527) 85%, rgba(172, 138, 0, 0.7) 100%);
$accent-to-right:                   linear-gradient(to right, rgba(236, 200, 52, 0.527) 35%, rgba(172, 138, 0, 0.7) 100%);


// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        calc(10px + 10 * (min(1440px, max(420px, 100vw)) - 320px) / 1120);

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble: "Rouble", "Arial", sans-serif;
$ff-main: "Inter", "Verdana", sans-serif;
$ff-custom: "Poppins", "Arial", sans-serif;
$ff-placeholder: "Placeholder", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600:                         0.6s $tf-default;
$trans-900:                         0.9s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-568:                            568px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1540:                           1540px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       2dppx;
